<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/styles.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,500&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div class="shop-content">
            <img src="../../assets/images/bag.svg" alt="bag image">
            <div class="sale-header">
                <h1>SALE</h1>
            </div>
            <div class="shop-sentence">
                <h1>Vera Bradley</h1>
                <p>Carry the day in style with this extra-large tote crafted in our chic B.B. Collection textured PVC.
                    Featuring
                    colorful faux leather trim, this tote offers a roomy interior plus just enough perfectly placed
                    pockets to
                    keep smaller items organized and easy to find.</p>
                <button type="button" class="btn btn-lg shop-btn">
                    <span class="btn-shop">Shop Now</span>
                </button>
            </div>
        </div>
        <div class="middle-content">
            <div class="check-what">
                <h1>WOW</h1>
                <p>Check WHAT!</p>
            </div>
            <div class="register-content">
                <img src="../../assets/images/athlete.svg" alt="athlete image">
                <div class="pop-header">
                    <h1>POP</h1>
                </div>
                <div class="register-sentence">
                    <h1>Let the Game begin</h1>
                    <p>Registration is on - get ready for the Open</p>
                </div>
                <button type="button" class="btn btn-lg register-btn">
                    <span class="btn-register">Register</span>
                </button>
            </div>
            <div class="check-men">
                <div class="layer">
                    <img src="../../assets/images/man.svg" alt="man image">
                </div>
                <div class="man-header">
                    <h1>MEN</h1>
                </div>
            </div>
        </div>
        <div class="discount-section">
            <div class="discount-header">
                <h1>10% Discount for your subscription</h1>
                <p>Carry the day in style with this extra-large tote crafted in our chic B.B. Collection textured PVC.
                    Featuring colorful faux leather trim, this tote offers a roomy interior.</p>
            </div>
            <form action="#">
                <img src="../../assets/icons/email.svg" alt="">
                <input class="email-input" type="text" placeholder="Your e-mail here">
                <button type="button" class="subscribe-btn">
                <span class="subscribe-text">Subscribe</span>
                </button>
            </form>
        </div>
    </div>
</body>

</html>