/**********************************************
*** GLOBAL
**********************************************/
.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 1000px;
}

/**********************************************
*** FOOTER
**********************************************/
footer {
  width: 1000px;
  height: 241px;
  background: #FFFFFF;
  display: flex;
}

.first-column ul,
.second-column ul,
.third-column ul {
  list-style: none;
}

.first-column ul li a,
.second-column ul li a,
.third-column ul li a {
  text-decoration: none;
  color: #2E2E2E;
}

.first-column {
  width: 121px;
  height: 72px;
  margin: 89px 155px 80px 29px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.second-column {
  width: 165px;
  height: 96px;
  margin: 89px 110px 56px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.third-column {
  width: 69px;
  height: 72px;
  margin: 89px 0 80px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

footer h1 {
  width: 160px;
  height: 24px;
  margin: 53px 33px 0 158px ;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #2E2E2E;
}