/**********************************************
*** GLOBAL
**********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 1000px;
}

.empty {
  width: 100%;
  height: 23px;
  background-color: #f7f7f7;
}

/**********************************************
*** MAIN CONTENT
**********************************************/
.main-content {
  display: flex;
}

/**********************************************
*** SIDEBAR
**********************************************/

.sidebar {
  width: 220px;
  margin-left: 30px;
  height: 697px;
  background-color: antiquewhite;
}

/**********************************************
*** CARDS
**********************************************/

.cards {
  width: 700px;
  height: 696px;
  display: flex;
  margin-left: 20px;
}

.card-img {
  width: 163px;
  height: 163px;
  margin-top: 32px;
}

.cards h5 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 21px;
  color: #2E2E2E;
}

.cards p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
  color: #F62F5E; 
}

.col-md-4 {
  position: relative;
  width: 50%;
}

.card {
  opacity: 1;
  display: block;
  transition: .5s ease; 
  backface-visibility: hidden;
}

.card-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.col-md-4:hover .card {
  opacity: 0.3; 
}

.col-md-4:hover .card-hover{
  opacity: 1;
}

.card-hover {
  width: 110px;
  height: 150px;
  background-color: red;
}