/**********************************************
*** GLOBAL
**********************************************/
.products {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 1000px;
}

ul {
  list-style: none;
}

header {
  width: 1000px;
  height: 48px;
  display: flex;
  background: #ffffff;
}

header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  color: #2e2e2e;
  margin: 9px 85px 0px 30px;
}

.user {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  color: #f62f5e;
}

header h1 a:hover {
  color: #f62f5e;
}

.nav-links a {
  text-decoration: none;
  color: #2e2e2e;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
}

.nav-links a:hover {
  color: #2e2e2e;
}

.currency {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85px;
}

.pound-currency {
  margin-right: 50px;
}

.currency span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  color: #2e2e2e;
}

.pound-currency a, .shop-item a {
    text-decoration: none;
}